#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.token-container{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.token{
  width: 100px;
  height: 100px;
  background-color: #092747;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 30%;
  width: 150px;
  height: 150px;
}

.button_directories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.about-container {
  text-align: left;
}
