#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-pic {
  border-radius: 30%;
  width: 150px;
  height: 150px;
}

.projects-container { 
  text-align: left; 
}

.project-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-token{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #0f355e;
  border: 1px solid #b1fcff;
  border-radius: 25px;
  padding: 16px;
  width: 500px;
}

.anchor-reference > img {
  width: 50%;
}

.anchor-reference > video {
  width: 100%
}